.App {
  text-align: center;
}

.Wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.LeftWrapper {
  display: flex;
  flex: 3;
  border-color: black;
  border-style: solid;
  border-width: 1;
  margin: 8;
  padding: 8;
}

.RightWrapper {
  display: flex;
  flex: 7;
  border-color: black;
  border-style: solid;
  border-width: 1;
  margin: 8;
  padding: 8;
}

.ComposeBoxWrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.RightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Selected {
  color: red;
}
